#spinner {
	width: 70px;
	transform-origin: center;
	animation: rotate4 2s linear infinite;
}

#spinner circle {
	fill: none;
	stroke-width: 3;
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
	animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash4 {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
		@apply stroke-main;
	}

	50% {
		stroke-dasharray: 90, 200;
		stroke-dashoffset: -35px;
		@apply stroke-accent-fuchsia;
	}

	100% {
		stroke-dashoffset: -125px;
		@apply stroke-accent-blue;
	}
}
