---
import Html from "@mod/layout/html.astro";

const queries = new URLSearchParams({
	client_id: "567d9b90135f2031eb22",
	scope: "repo:read user:read",
});
const oauth = new URL("/login/oauth/authorize", "https://github.com");
oauth.search = queries.toString();
---

<Html title="All my Env">
	<section class="flex flex-col gap-3 justify-center items-center">
		<h1 class="text-2xl m-3">Company name or something</h1>
		<a
			class="btn-main px-12 py-2 rounded-2xl"
			href={oauth.toString()}
		>
			Log In
		</a>
	</section>

	<section class="mx-auto w-max">
    <p class="font-regular">font-regular: Cabin</p>
    <p class='font-main'>font-main: Monomaniac One</p>
    <p class="font-accent">font-accent: Exo 2</p>
    <p class="font-mono">font-mono: JetBrains Mono</p>
		<br />
		<p>This is how you call the colors schemes</p>
		<div class="w-max text-center flex flex-col gap-3 justify-center">
			<p class="bg-light text-dark">bg-light text-dark</p>
			<p class="bg-dark text-light">bg-dark text-light</p>
			<p class="text-accent-blue bg-accent-fuchsia">text-accent-blue bg-accent-fuchsia</p>
			<p class="text-accent-fuchsia bg-accent-blue">text-accent-fuchsia bg-accent-blue</p>
		</div>
	</section>
</Html>

<style>
  p {
    @apply px-3 py-1;
  }
</style>
