@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500;700&family=Inter:wght@100;200;300;400;500;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	/* @apply bg-dark-200 font-regular text-light; */
	@apply font-regular text-light;
	overflow-x: hidden;
}

main {
	overflow-x: hidden !important;
}

a:hover {
	cursor: pointer;
}

/* .btn:disabled { */
/* 	@apply bg-gray-600 opacity-50; */
/* } */

.btn {
	@apply normal-case;
}

.btn-variable-utilities {
    @apply w-6 h-6 rounded-md hover:bg-light/10;
    @apply text-light/50 hover:text-light transition;
}

.text-gradient {
	@apply bg-gradient-to-tr from-light to-primary;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

