@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500;700&family=Inter:wght@100;200;300;400;500;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-dark-200 font-regular text-light;
}

main {
  overflow-x: hidden !important;
}

a:hover {
  cursor: pointer;
}

.btn {
  @apply px-3 py-2 rounded-lg text-light font-semibold cursor-pointer transition;
}

.btn-primary {
  @apply bg-main border border-main;
}

.btn-primary:hover {
  @apply brightness-95
}

.btn-primary-outline {
  @apply border border-main bg-main/5 text-main;
  @apply flex justify-center items-center;
  @apply hover:bg-main/20;
}

.text-gradient {
	@apply bg-gradient-to-tr from-light to-main;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
